@charset "UTF-8";

#titulo{
    background-color:#2f59e3 ;
    display: block;
    padding: 10px 20px 100px 20px;
    margin: 10px 20px 100px 20px;
    max-width: auto;
    max-height: auto;
}
.titulo_nome{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content:flex-start;
    text-align: top;
    margin:2px 34px 0px 284px;
    padding:0px 221px 10px 290px ;

}

.imagem_perfil{
    display: flex;
    margin:124px 843px 7px 55px;
    padding: 13px 0px 0px 43px;
}

.paragrafo_titulo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px 129px 10px 427px;
    padding: 0px 127px 10px 115px;
}

.botao_titulo{
    display: flex;
    text-align: center;
    background-color: rgb(252, 249, 249);
    justify-content: center;
    margin:11px 382px 10px 668px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 1px 3px 2px rgba(0, 0, 0, 0.432);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
}
.botao_titulo:hover{
    color: cadetblue;
}