@charset "UTF-8";

/* formatação do titulo */
.titulo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2b57e0;
    color: white;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 50px;

}
.titulo>img{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top:0px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-left: 10px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: 20px;
}
.titulo>h1 {
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 20px;
}
.titulo>p{

}
.btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    background-color: rgb(242, 247, 245);
    margin: 25px;
    padding: 25px;
    box-shadow:4px 4px  rgba(194, 193, 193, 0.233);
    border-radius: 10px;
    

    
    
}
/* formatação das informações*/
.primeira{
    text-align: center;
    text-indent: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* formatação das tecnologias */

.Cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 10px;
}
.card{
    background-color: rgb(242, 247, 245);
    margin: 25px;
    padding: 25px;
    box-shadow:4px 4px  rgba(194, 193, 193, 0.233);
    border-radius: 10px;
}