@charset "UTF-8";


/* alteração do header "Titulo"*/
#titulo{
    width: auto;
    height: auto;
    background-color:#2f59e3 ;
    display: block;
    padding: 10px auto 100px 300px;
    margin:10px auto 100px auto;
  
}
.titulo_nome{
    display: inline-block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin:1px auto 19px 0px;
    padding:0px 66px 10px 450px;
    

}

.imagem_perfil{
    display: inline-block;
    width: auto;
    height:auto;
    margin:157px 3px 7px 27px;
    padding: 64px 0px 0px 0px;
}

.paragrafo_titulo{
    display: inline-block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px 129px 10px 350px;
    padding: 0px 127px 40px 115px;
}

.botao_titulo{
    display: inline-block;
    text-align: center;
    background-color: rgb(252, 249, 249);
    justify-content: center;
    margin:11px 382px 30px 595px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 1px 3px 2px rgba(0, 0, 0, 0.432);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
}
.botao_titulo:hover{
    color: cadetblue;
}
/* ateração da descrição "sobre mim "*/
.descricao{
    display: block;
    
    width: 800px;
    height: 140px;
    justify-content: center;
    justify-items: center;
    margin: auto;
    padding: 10px 30px 30px 30px;
    
}
.sobremim{
    text-align: center;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin:10px  auto 10px auto;
    
}
.paragrafo_descricao{
    text-align: center;
    text-indent: 10px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    
}

/* configuração dos cards*/

.tecnologia{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    padding: 10px 10px 10px 10px;
}

.cards{
    text-align: center;
    display: block;
    background-color: rgba(169, 169, 169, 0.226);
    padding: 20px 10px 40px 10px;
    margin: 10px 200px 10px 200px ;
    border-radius: 10px;
}

.card1{
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding: 10px 30px 10px 30px;
    margin: 10px 10px 10px 10px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.199);
}

.card2{
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding: 10px 30px 10px 30px;
    margin: 10px 10px 10px 10px;
    background-color:white;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.199);

}

.card3{
    display: inline-block;
    justify-content: center;
    padding: 10px 15px 10px 15px;
    margin: 10px 10px 10px 10px;
    background-color:white;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.199);

}

/* configurações de projetos */
.projetos{
    display: inline-block;
    justify-content: center;

    
}

.titulo_projeto1{
    text-align: center;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;

}
.card_projeto1{
    display:flexbox;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 10px 20px 10px;
    margin: 40px 500px 40px 500px ;
    background-color: beige;
    border-radius:10px;
    box-shadow: 3px 3px 3px 3px black;

}
.card_projeto2{
    display: flexbox;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 10px 20px 10px;
    margin: 40px 500px 40px 500px ;
    background-color: beige;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px black;
    

}
/* decoração dos links*/
.card_link{
    text-decoration: none;
    font-weight:;
    
}
.card_link:hover{
    color: #e32f2f;
    

}
.card_link::before{
    content:  '🔗';
}

/* configurações dos contatos*/
.contatos{
    display: block;
    text-align: center;
    background-color: black;
    color:white;
    margin: 10px 260px 10px 260px;
    padding: 20px 90px 30px 90px;

}

.titulo_contato{
    display: inline;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.paragrafo_contato{
    display: inline;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.imagen-link{
    gap: 35px;
    justify-content: center;
}