@charset "UTF-8";


/* alteração do header "Titulo"*/
#titulo{
    width: auto;
    height: auto;
    background-color:#2f59e3 ;
    display: block;
    padding: 10px 20px 100px 20px;
    margin:10px auto 100px auto;
    max-width: auto;
    max-height: auto;
}
.titulo_nome{
    display: block;
    width: 1411px;
    height: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin:1px auto 19px 0px;
    padding:0px 66px 10px 20px;
    justify-items: center;
    justify-content: center;

}

.imagem_perfil{
    display: inline-block;
    width: auto;
    height:auto;
    margin:157px 3px 7px 27px;
    padding: 64px 0px 0px 0px;
}

.paragrafo_titulo{
    display: inline-block;
    width: auto;
    height: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px 129px 10px 427px;
    padding: 0px 127px 10px 115px;
}

.botao_titulo{
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
    background-color: rgb(252, 249, 249);
    justify-content: center;
    margin:11px 382px 10px 668px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 1px 3px 2px rgba(0, 0, 0, 0.432);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
}
.botao_titulo:hover{
    color: cadetblue;
}
/* ateração da descrição "sobre mim "*/
.descricao{
    display: block;
    background-color: rgba(210, 105, 30, 0.295);
    width: 800px;
    height: 140px;
    justify-content: center;
    justify-items: center;
    
}
.sobremim{
    text-align: center;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    
}

.paragrafo_descricao{
    text-align: center;
    text-indent: 10px;
}